*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-align: center;
}

h1{
    margin: 30px 0px;
}

button{
    padding: 10px 30px;
    background: transparent;
    border: 1px solid black;
}

button:hover{
    cursor: pointer;
    background-color: black;
    color: white;
}

.result{
    font-size: 20px;
    margin: 30px 0px;
}